// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//VARIAVEIS PERSONALIZADAS

:root{
    --ws-bg-color: #abcdef;
    --ws-fg-color: #ca2c04;
    --ws-border-color: #f21;
}