body{
    background-color: #E3E2E2 ;
}
h2{
    color: var(--ws-fg-color);
}
.btn-aviso{
    background-color: rgb(173, 82, 209);
    color:aliceblue;
}
.btn-aviso:hover{
    background-color: yellow;
    color:aliceblue;
}
.btn-lista{
    background-color: white;
    border-color:cadetblue ;
    border: 1px;
    margin: 1px;
}
.btn-lista:hover{
    background-color: cadetblue;
}
.lista-disc{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.btn-search{
    background-color: #FEAF00;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-size: 15px;
    transition: 0.5s ease;
}

.btn-search:hover{
    background-color: #be8812;
}

.nav-link-shadow {
    transition: 0.3s ease;
    font-size: 17px;
    font-weight: bold;
}

.nav-link-shadow:hover {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}